.home {
    color: white;
    display: flex;
    padding-top: 120px;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    .descHome {
        font-size: 55px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 10px;       
    }
    .helloHome {
        font-size: 80px;
        width: fit-content;
    }
    .nameHome {
        width: fit-content;
    }
    .fullstackHome {
        width: fit-content;
    }
    .divImgHome {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    img {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        max-height: 400px;
        max-width: 400px;
        border-radius: 10px;
    }
}


@media only screen and ( max-width:750px ){
    .home {
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        justify-content: center;
        .descHome {
            margin: 0 auto;
        }
        .helloHome {
            font-size: 60px;
        }
        img {
            width: 100%;
            max-width: 350px;            
        }
        
        .nameHome {
            font-size: 35px;
        }
        .fullstackHome {
            font-size: 35px;
        }
    }    
}