.projects {
    color: white;
    padding-top: 50px;
    .titleProjects {
        font-size: 50px;
        font-weight: 600;
    }

    img {
        width: 100%;
        max-width: 400px;
        height: 250px;
        object-fit: cover;
    }
    .contProjects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto;
        width: 100%;
        max-width: 1500px;
    }
    .cardsProject {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        max-width: 400px;
        margin: 15px;
        background-color: rgb(31, 31, 31);
        box-shadow: 5px 5px 10px 1px rgb(0, 0, 0); 
    }
    .divNameProject {
        background-color: black;
        padding: 3px;
    }
    .nameProject {
        font-size: 20px;
        font-weight: 700;        
    }
    .divDescProject {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .linksProjects {
        padding: 20px;
    }
    .descProject {
        text-align: start;
        margin: 2px 10px;
    }
    a {
        color: white;
        text-decoration: none;
        margin: 10px;
        background: black;
        border-radius: 15px;
        padding: 5px 15px;
        &:hover {
            font-weight: 600;
            text-decoration: underline;
        }
    }

}
