.skills {
    color: white;
    padding-top: 50px;
    .titleSkills {
        font-size: 50px;
        font-weight: 600;
    }
    .divSubTitleSkills {
        padding: 30px;
        padding-top: 40px;
    }
    .subTitleSkills {
        font-size: 40px;
    }
    .iconSkills {
        margin: 15px;
        margin-bottom: 0;
        font-size: 70px;
    }

    .contIconsSkills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .imgSkills {
        margin: 15px;
        margin-bottom: 0;
    }
    .davinciSkills {
        margin: 15px;
        margin-bottom: 0;
        height: 70px;
        width: 90px;
        object-fit: contain;
    }
    img {
        height: 70px;
        width: 70px;
        object-fit: contain;
    }
    .divIconsSkills {
        display: flex;
        flex-direction: column;
    }
    span {
        font-size: 19px;
    }
}