.skills {
    color: white;
    font-size: 70px;
    .titleSkills {
        font-size: 50px;
        font-weight: 600;
    }
    .subTitleSkills {
        font-size: 40px;
    }

    .iconSkills {
        margin: 10px 10px;
    }

    .contIconsSkills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .imgSkills {
        margin: 10px;
    }
    .davinciSkills {
        margin: 3px;
        height: 85px;
        width: 85px;
        object-fit: contain;
    }
    img {
        height: 70px;
        width: 70px;
        object-fit: contain;
    }
}